body {
    padding: 2rem 1rem;
    overflow-x: hidden;
    background-image: url("temp.jpg");
    background-repeat: no-repeat;
    /* background: center/cover url(../img/bg.png); */
    font: 700 1.2rem "Jura", sans-serif;
    /* background: linear-gradient(63deg, #999 23%, transparent 23%) 0.44rem 0,
        linear-gradient(63deg, transparent 74%, #999 78%),
        linear-gradient(63deg, transparent 34%, #999 38%, #999 58%, transparent 62%),
        #444;*/
    background-size: cover;
}

.converter {
    background-color: #999999de;
    margin-bottom: 2rem;
    padding: 1.3rem 2rem 2rem;
    border: 0.1rem solid #808080;
}


input {
    padding: 0.2rem;
    font-size: 1.1rem;
    outline: none;
    border-radius: 0.1rem;
    width: 20rem;
    text-indent: 0.2rem;
    background-color: #fdfdfd;
}

input:focus {
    background-color: #f1f1f1;
}

footer {
    background-color: #999999de;
    border: 0.1rem solid #808080;
}

.footer-link:hover {
    transition: 0.3s ease;
    color: #cdd4df;
}

#loadingDiv {
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #535353;
}

.loader {
    width: 3.6rem;
    height: 3.6rem;
    background: center / contain no-repeat url(../img/loader.gif);
}

::selection {
    color: #fdfdfd;
    background-color: #444;
}

@media screen and (max-width: 450px) {
    html {
        font-size: 13px;
    }
}

@media screen and (max-width: 350px) {
    html {
        font-size: 11px;
    }
}


.f {
    display: flex;
}

.jc_b {
    justify-content: space-between;
}

.ai_c {
    align-items: left;
}

#head {
    background-color: #06043a;
    height: 10vh;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
    text-align: right;
    margin: 0%;
}

/* .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 100px;
  } */

.btn {
    padding: 0.5rem 0.5rem;
    font-weight: 100px;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 10px;

}

.btn-primary {
    background-color: transparent;
}

.btn:hover {
    background-color: #0d52ac;
    border-color: #2500ff;
}